.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    a{
        text-decoration: none;
    }
    .top-nav{
    display: inline-flex;
    align-items: center;
    gap: 290px;
    position: relative;
    top: 39px;
    }  
    .logo{
    display: flex;
    align-items: center;
    gap: 10px; 
    }  
    .logo-img{
    width: 58px;
    height: 40px;
    }  
    .Ktravels{
    font-size: 30.54px;
    font-family: var(--font-family-poppins);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: rgba(0, 0, 0, 0.80);
    } 
    .main-nav{
    display: flex;
    padding: 14px 0px;
    align-items: center;
    gap: 42px;
    border-top: 1px solid var(--box-colar, rgba(225, 211, 211, 0.87));
    border-bottom: 1px solid var(--box-colar, rgba(225, 211, 211, 0.87));
    }
    .main-nav-div{
     display: flex;
    align-items: center;
    gap: 6px;
    }    
    .main-nav-logo{
        width: 30px;
        height: 30px; 
    }   
    .main-nav-text{
        color: rgba(0, 0, 0, 0.80);
        font-size: 20px;
        font-family: var(--font-family-poppins);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }  
    .top-rightside-nav{
    display: flex;
    align-items: center;
    gap: 33px;
    }    
    .bell-n-love{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    }  
    .topside-profile{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background: url(Ellipse\ 51.png), lightgray 0px -0.89px / 100% 160.026% no-repeat;
    } 
    .bell{
        width: 30px;
    height: 30px;
    }    
    .fav{
    width: 30px;
    height: 30px;
    }   
    .profile-bdg{
    width: 100vw;
    height: 448px;
    flex-shrink: 0;
    position: absolute;
    top: 180px;
    }  
    .bdg-img-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 17px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: relative;
        top: 260px;
    }
    .text-overlay{
        color: rgba(255, 255, 255, 0.80);
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .search-border{
        display: flex;
        padding: 0px 3px;
        align-items: center;
        gap: 0px;
        border-radius: 7px;
        background: rgba(255, 255, 255, 0.80);
    }
    .bdg-search{
        color: rgba(0, 0, 0, 0.80);
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
    }   
    .profile-nav{
        display: inline-flex;
        align-items: center;
        gap: 60px; 
        position: relative;
        top: 450px; 
    }   
    .profile-nav-border{
        display: flex;
    padding: 2px 37px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    border: 1px solid var(--box-colar, rgba(225, 211, 211, 0.87));
    }
    .profile-nav-border-only{
        display: flex;
    padding: 2px 37px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: var(--button, #0098C9);
    }  
    .profile-navigations{
        display: flex;
    align-items: center;
    gap: 6px;
    }
    .profile-nav-logo{
        width: 24px;
    height: 24px;
    }
    .profile-nav-text{
        color: rgba(0, 0, 0, 0.80);
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;  
    }
    .profile-nav-text-only{
        color: white;
        font-size: 22px;   
        font-style: normal;
        font-weight: 400;
        line-height: normal;  
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
        position: relative;
        top: 530px;
    }
    .box-info{
        display: flex;
        align-items: center;
        gap: 804px;
    }
    .info-words{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 4px;   
    }
    .info-title{
        color: rgba(0, 0, 0, 0.80);
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: -0.2em;
    }
    .info-title-words{
        color: var(--grey-text, rgba(47, 48, 50, 0.60));
        font-family:'Poppins', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;   
    }
    .seeall{
        color: var(--grey-text, rgba(47, 48, 50, 0.60));
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .box-frames{
        display: flex;
        align-items: flex-end;
        gap: 60px;
        position: relative;   
    }
    .frame{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    .frame-1{
        display: flex;
        width: 211px;
        height: 153px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        border-radius: 40px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }
    .frame-title-n-reviews{
        display: flex;
        align-items: center;   
    }
    .frame-title-words{
        display: flex;
        align-items: center;
        gap: 30px;   
    }
    .frame-title{
        color: rgba(0, 0, 0, 0.80);
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 3px;
    }
    .airline-reviews{
        color: var(--grey-text, rgba(47, 48, 50, 0.60));
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    } 
    footer{
        align-items: flex-start;
    background-color: #E7F7F9;
    display: flex;
    padding: 58px 290px;
    position: relative;
    width: fit-content;
    margin-top: 3em;
    flex-shrink: 0;
    top: 515px;    
    }
    .footer-left{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: relative;
        width: fit-content;
    }
    .footer-click{
        align-items: center;
        display: flex;
        gap: 16px;
        position: relative;
        width: fit-content;
    }
    .footer-logo{
        height: 40px;
        min-width: 50px;
        object-fit: cover;
        position: relative;
    }
    .footer-info{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: relative;
        width: fit-content;
    }
    .copyright{
        align-items: center;
        display: flex;
        gap: 2px;
        position: relative;
        width: fit-content;
    }
    .copy{
        height: 16px;
        min-width: 16px;
        position: relative;
    }
    .web-email{
        letter-spacing: 0;
        line-height: normal;
        margin-top: -1px;
        position: relative;
        width: fit-content;
        font-family: 'Poppins', sans-serif;
    }
    .underlined{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: relative;
        width: fit-content; 
    }
    .first-underlined{
        align-items: center;
        display: flex;
        gap: 20px;
        position: relative;
        width: fit-content; 
    }
    .second-underlined{
        align-items: flex-start;
        display: flex;
        gap: 20px;
        position: relative;
        width: fit-content; 
    }
    .footer-clicks{
        letter-spacing: 0;
        line-height: normal;
        margin-top: -1px;
        position: relative;
        text-decoration: underline;
        width: fit-content;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
    .footer-desc{
        letter-spacing: 0;
        line-height: normal;
        position: relative;
        width: fit-content;
        font-size: medium;
        font-family: 'Poppins', sans-serif;
    }
    .footer-right{
        align-items: flex-start;
        display: flex;
        gap: 16px;
        position: relative;
        width: fit-content;   
    }
    .npr-frame{
        align-items: flex-start;
        background-color: var(--white);
        border: 1px solid;
        border-color: var(--box-colar);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 27px;
        position: relative;
        width: fit-content;
    }
    .npr-stuff{
        align-items: center;
        display: flex;
        gap: 86px;
        position: relative;
        width: fit-content;  
    }
    .npr{
        letter-spacing: 0;
        line-height: normal;
        margin-top: -1px;
        position: relative;
        width: fit-content;
        font-family: 'Poppins', sans-serif;  
    }
    .bitriangle{
        height: 10px;
        min-width: 10px;
        position: relative;
    }
    .country-frame{
        align-items: flex-start;
        background-color: var(--white);
        border: 1px solid;
        border-color: var(--box-colar);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 23px;
        position: relative;
        width: fit-content;
    }
    .country-stuff{
        align-items: center;
        display: flex;
        gap: 80px;
        position: relative;
        width: fit-content;  
    }
    .country{
        letter-spacing: 0;
        line-height: normal;
        margin-top: -1px;
        position: relative;
        width: fit-content;
        font-family: 'Poppins', sans-serif;
    }
    /* flight search start */
.total-flight-search{
    display: flex;
    padding: 52.5px 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: #E7F7F9;
    position: relative;
    top: 500px;
}
.flight-info-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.find-flights{
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Poppins',sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.flight-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.trip-way{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}
.trip-way-words{
    display: flex;
    align-items: flex-start;
    gap: 73px;
    font-family: sans-serif, 'poppins';
}
.trip-options{
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}
.trip-way-slide{
    width: 400px;
    height: 3px;
    flex-shrink: 0;
    border-radius: 1px;
    background: #FFF;
}
.slider{
    width: 110.985px;
    height: 3px;
    flex-shrink: 0;
    border-radius: 1px;
    background: var(--logo-cola-pt-2, #025A99);
}
.flight-que{
    align-items: flex-start;
    display: flex;
    position: relative;
    width: fit-content;
}
.from-argentina-border{
    display: flex;
    padding: 20px 40px 20px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid var(--wireframe-101, #D9D9D9);
    background: #FFF;
}
.to-pokhara-border{
    display: flex;
    padding: 20px 40px 20px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid var(--wireframe-101, #D9D9D9);
    background: #FFF
}
.flight-date-border{
    display: flex;
    padding: 20px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid var(--wireframe-101, #D9D9D9);
    background: #FFF;
}
.flight-people-border{
    display: flex;
    padding: 0px 0px;
    align-items: flex-start;
    gap: 0px;
    border: 1px solid var(--wireframe-101, #D9D9D9);
    background: #FFF;
}
.flight-class-border{
    display: flex;
    padding: 20px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid var(--wireframe-101, #D9D9D9);
    background: #FFF;
}
.flight-search-border{
    display: flex;
    padding: 25px 50px;
    align-items: flex-start;
    gap: 6px;
    background: #0098C9;
}
.flight-put-info{
    align-items: center;
    display: flex;
    gap: 4px;
    position: relative;
    width: fit-content;
}
.flight-put-info-words{
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    font-family: sans-serif, 'poppins';
}
.search{
    color: white;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
    font-family: sans-serif, 'poppins';  
}
/* flight search upto here */
input[type=text]{
    width: 120px;
    height:20px;
}
input[type=date]{
    width: 120px;
    height: 22px;
    border-color: #D9D9D9;
}
input{
    width: 378px;
    height: 40px;
    border-color: #D9D9D9;
}
input[type=number]{
    width: 100px;
    height:20px;
    border-color: #D9D9D9;
    margin-top: 20px;
}